<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Blank</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>My Profile</h1>
          <h4><a href="/api">Read My API Documentation</a></h4>
          <div id="profileTarget">
          <script id="profile-info" type="text/x-handlebars-template">
            {{#each profiles}}
              <div class="row">
                <div class="col-xs-6">
                  <h1><a href="{{github_link}}">{{name}} <span class="hidden" data-profile="{{_id}}"></span></a></h1>
                  <img src="{{github_profile_image}}" class="img-responsive">
                  <ul>
                    <li>I live in {{current_city}}.</li>
                    <li>I am {{age}} years old.</li>
                    <li>{{description}}</li>
                    <li>I am awake {{isAwake}}</li>
                    <li>I am hungry {{isHungry}}</li>
                  </ul>
                  <h4>Here is a list of a few of my hobbies. Feel free to add a couple of 'todos'!</h4>
                    {{#each hobbies}}
                    <li>{{name}} <span class="hidden" data-hobbie="{{_id}}"></span></li>
                    <ul>
                      <li>Years active: {{years_active}}</li>
                      <li>A few of my favorites: {{favorites}}</li>
                      <li>A few items I still want to do. Feel free to add more below!
                        <ul>
                          {{#each todo}}
                          <li>{{name}}: {{count}} <button data-count={{_id}} type="button" class="btn btn-xs btn-success upVote"><span class="glyphicon glyphicon-plus"></span></button>
                                                  <button data-count={{_id}} type="button" class="btn btn-xs btn-danger downVote"><span class="glyphicon glyphicon-minus"></span></button>
                          </li>
                          {{/each}}
                        </ul>
                      </li>
                      <form id="addHobbie" class="form-inline" data-hobbie="{{_id}}">
                        <input type="text" class="form-control" name="hobbie"></input>
                        <input type="submit" class="btn btn-primary btn-sm" value="Add!"></input>
                      </form>
                    </ul>
                    {{/each}}
                </div>
                <div class="col-xs-6">
                  <h4>Below is a list of my siblings and some details about each of them</h4>
                  {{#each familyMembers}}
                    <li>{{name}}</li>
                    <ul>
                      <li>Relationship: {{relationship}}</li>
                      <li>Age: {{age}}</li>
                      <li>Occupation: {{occupation}}</li>
                    </ul>
                      {{/each}}
                  <h4>Here is a list of my pets</h4>
                    <ul>
                      {{#each pets}}
                      <li>{{name}} is my {{type}} and lives in {{location}}. They are a {{breed}}.</li>
                      {{/each}}
                    </ul>
                </div>
              </div>
            {{/each}}
          </script>
        </div>
        </div>
      </div>
    </div>
  </body>
</html>
